@{ ViewBag.Title = "Home Page"; }

<div class="row">
    <div class="col-xs-12">
        <h1>Keycloak Authorization Code Flow</h1>
        <p>Authorization Code and Token</p>
        <a class="btn btn-primary" value="Authorize" onclick="location.href='@Url.Action("Authorize", "Home")'">Authorize</a>
        <a class="btn btn-primary" value="GetToken" onclick="location.href='@Url.Action("GetToken", "Home")'">Get Token</a>
        <h3>Output</h3>
        <pre>@Html.Raw(ViewBag.Message)</pre>
    </div>
</div>