
@{
    ViewBag.Title = "Login";
}

<div class="col d-flex justify-content-center">
    <div class="card text-center" style="width: 30rem;">
        <div id="header_title" class="card-header">
            <h3 style="height: 3rem; vertical-align:middle; display:table-cell;">
                Authenticate with:
            </h3>
        </div>

        <div class="card-body">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary my-2">@Html.ActionLink("IDIR", "SignIn", "Account", new { idpHint = "idir", redirectUrl = ViewBag.RedirectUrl }, new { @style = "color:#ffffff;text-decoration:none;" })</button>
                <button type="button" class="btn btn-primary my-2">@Html.ActionLink("Business BCeID", "SignIn", "Account", new { idpHint = "bceid-business", redirectUrl = ViewBag.RedirectUrl }, new { @style = "color:#ffffff;text-decoration:none;" })</button>
            </div>
        </div>
    </div>
</div>

