
@{
    ViewBag.Title = "Login";
}

<h2>@ViewBag.Title.</h2>

<button type="button" class="btn btn-primary">@Html.ActionLink("IDIR Login", "Signin", "Account", new { @style = "color:#ffffff;text-decoration:none;" })</button>



